<h3>Manage Inventory</h3>
<% if @carts %>

<% @carts.each do |cart| %>
	<b>Order placed by: </b> <%= cart.user.email %><br />
	<table border="1">
		<tr>
			<th>Item</th>
			<th>Price</th>
			<th>Demanded Quantity</th>
			<th>Available Quantity</th>
			<th>Action</th>
		</th>
		<% cart.shopping_cart_items.each do | cart_item | %>
		<tr>
			<td><%= cart_item.item.name %></td>
			<td>$<%= cart_item.item.price %></td>
			<td><%= cart_item.quantity %></td>
			<td><%= cart_item.item.quantity %></td>
			<td>Something</td>
		</tr>
		<% end %>
	</table>
	<br />
<% end %>	
	
<% else %>
	There are no current orders placed this time.
<% end %>