<div class="show_product_box">
	<div class="show_product_box_title"><%= @product.name %></div>
	<p><%= image_tag "new-product.jpg", :height => "200", :width => "200" %></p>

	<p><b>Price:</b>$<%= @product.price %></p>

	<% if @product.available? %>
	  <p><b>In Stock: </b><%= @product.quantity %></p>
	  <p><%= link_to "Add to Cart", add_product_to_cart_path(@product) %></p>
	<% else %>
	  <p>Out of Stock</p>
	<% end %>

</div>

<h2>Customers Who Bought This Item Also Bought</h2>

