<div class="user_log_out">
<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path, :class => "login" %> 
<% end %>
</div>

<% if user_signed_in? %> 
    <div class="user_info_holder">
	  <div class="user_welcome">      
	  	<%= "Welcome #{current_user.email}" %>
	  	<% if current_user.cart %>
	  	Your cart total : $<%= current_user.cart.total %>/-
	  	<% end %>
	  </div>
	  <div class="user_cart">
	  	<%= link_to((image_tag "cart.png", :height => "47px", :alt => "Go to Cart", :title => "Go to Cart"), carts_index_path) %>
	  </div>
	</div>
<% end %> 
  