<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Nilesh's Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <%= stylesheet_link_tag    "application", "style" %>
  <%= javascript_include_tag "application", "mootools-1.2.1-core", "mootools-1.2-more", "slideitmoo-1.1" %>
  <script language="javascript" type="text/javascript">
window.addEvents({
    'domready': function () { /* thumbnails example , div containers */
        new SlideItMoo({
            overallContainer: 'SlideItMoo_outer',
            elementScrolled: 'SlideItMoo_inner',
            thumbsContainer: 'SlideItMoo_items',
            itemsVisible: 5,
            elemsSlide: 3,
            duration: 200,
            itemsSelector: '.SlideItMoo_element',
            itemWidth: 140,
            showControls: 1
        });
    },

});
</script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
	  <%= render :partial => "layouts/menu" %>
	  <!-- end of menu -->
	  <!-- end of header_bar -->
	  <div class="cleaner"></div>
	  <%= render :partial => "layouts/sidebar" %>
	  <!-- end of sidebar -->
	  <div id="content">
	    <%= render :partial => "layouts/latest_gallery" %>
	    <!-- end of latest_content_gallery -->
	    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
	    <%= yield %>
	    
	  <!-- end of content -->
	</div>
	<!-- end of wrapper -->
	<%= render :partial => "layouts/footer" %>
	<!-- end of footer_wrapper -->
</body>
</html>
